*{
	padding:0;
	margin:0;
	
}
.navbar-inverse .navbar-nav li a
{
	color:white;
	
	
}
 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background:red;
	  opacity:0.7;
	  border-bottom:0;
    }
    

    .row.content {height: 1000px;}
    
   
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
	  color:black;
	  opacity:0.7
    }
    
    
    footer {
      background-color: red;
      color: black;
      padding: 15px;
	  opacity:0.7;
	  height:20px;
    }
    
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
	
	.logo img{
		padding-bottom:20px;
		
	}
	
#kep{
	margin-left:10px;
	margin-bottom:10px;
}

.nav{
	margin-left:120px;
	
}
	
	
	