
*{
	padding:0;
	margin:0;
	
}
.navbar-inverse .navbar-nav li a
{
	color:white;
	
	
}
 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background:red;
	  opacity:0.7;
	  border-bottom:0;
    }
    

    .row.content {height: 1000px;}
    
   
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
	  color:black;
	  opacity:0.7;
    }
    
    
    footer {
      background-color: red;
      color: white;
      padding: 15px;
	  opacity:0.7;
	  height:20px;
    }
    
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
	
	.logo img{
		padding-bottom:20px;
		
	}
	
#kep{
	margin-left:10px;
	margin-bottom:10px;
}

.nav{
	margin-left:120px;
	
}
	
.btn{
	background-color:red;
	border:0;
	margin-top:8px;
	color:white;
	
	
}	
	
	
	
	
	
	
	
	
.modal {
 background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index:1;
	overflow:auto;
	text-align:center;
	padding-top:100px;
	padding-left:40%;
}

/* Modal Content */
.modal-content {
 height: 500px;
	width: 700px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	border-radius:10px;
	
}




/* The Close Button */
.close {
  position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
}




	
	